body {
    background-color: cornsilk;
}

main {
    display: flex;
}


header {
    border: 2px solid blue;
    text-align: center;
    background-color: rgb(179, 135, 135);
    padding: 2px;
    margin: 10px;
}

.highscore {
    font-size: xx-large;
    margin: 10px;
}

.timer-count {
    text-align: center;
    margin: 10px;
    font-size: xx-large;
}

h1 { 
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: aqua;
    font-size: 100px;
    margin: 2px;
}

.start-button:hover,
.start-button:focus {
    animation: pulse 1s;
    box-shadow: 0 0 0 2px darkblue;

}

.start-button {
    width: 100px;
    height: 40px;
    color: black;
    background-color: cyan;
}

section {
    width: 80%;
    margin: 10px auto 10px auto;
    border: 2px solid orange;
    background-color: darkcyan;
}

.questions {
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 24px;
    font-weight: 900;
    color: cyan;
}

aside {
    background-color: cyan;
    border: 2px solid red;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.answer-choice:hover {
    background-color: lightgreen;
}




li {
    border: 2px solid green;
}